{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/directdetail.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=Cinzel:wght@400;600&family=Dela+Gothic+One&family=Hind+Siliguri&family=Manrope:wght@200&family=Merriweather:wght@300;400&family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Roboto&family=Space+Mono&family=Ubuntu:wght@300&display=swap" rel="stylesheet">  <title>Melophile</title>
</head>
<body style="background-color: black;">
    <div class="full">
        <div class="left">
            <div class="head">
                <h3>Melophile ™</h3>
                <p style="font-weight: 500;"><a href="{%url 'home'%}"  style="text-decoration: none; color: white;">Home</a><p>
                <p style="font-weight: 500;"><a href='{% url 'showall'%}' style="text-decoration: none; color: white;">Songs</a></p>
                {%if user.is_authenticated %}
                <p style="font-weight: 500;"><a href="{%url 'showplaylist'%}"  style="text-decoration: none; color: white;">Go to Playlist</a></p>
                {%else%}
                <p style="font-weight: 500; color: rgb(47, 46, 46);">  Your Playlist</p>
                {%endif%}
            </div>
            <div class="library">
                <h3>Explore</h3>
                <div class="congest">
                    <div class="upsong">
                        <h3>Upload and save your own song</h3>
                        <p>Its easy,We will help you</p>
                        {%if user.is_authenticated%}
                        <button style=" border-radius: 50px; border: 0; height:35px ; width: 80px; background-color: white; "><a href="{%url 'savesong'%}" style="text-decoration: none; color: rgb(0, 0, 0); font-family: poppins;" ><b>Upload</b></a></button>
                         {%else%}
                         <h3 style="color: #777;">Login to Start Now</h3>
                         {%endif%}
                    </div>
                    <br>
                    <div class="upBrod">
                        <h3>Upload Podcast</h3>
                        <p>Its easy,We will help you</p>
                        {%if user.is_authenticated%}
                        <button style=" border-radius: 50px; border: 0; height:35px ; width: 80px; background-color: white; "><a href="{%url 'title'%}" style="text-decoration: none; color: rgb(0, 0, 0); font-family: poppins;" ><b>Upload</b></a></button>
                         {%else%}
                         <h3 style="color: #777;">Login to Start Now</h3>
                         {%endif%}
                    </div>
                </div>
                <div class="ft"><br>
                    <div class="sea">
                        <ul style="padding-left: 1px;">
                            <li>Go to Podcast</li>
                            
                        </ul>

                    </div>
                    <div class="btn" style="padding-bottom: -13px;">
                        <button style=" border-radius: 50px; border: 0; height:35px ; width: 80px; background-color: rgb(160, 148, 148);  "><b style="font-family: poppins; ">🌍English</b></a></button>
                    </div>
                </div>
            </div>
            
        </div>
       
            
        <div class="right" style="padding-left: 10px;">
            
            <div class="detail">
                <div class="image">
                    <img src="/media/{{object.image}}">
                </div>
                <div class="name">{{object.title}}<br><div class="artist">
                    {{object.artist}}
                </div></div><br>
                

            </div>
            

            <div class="details_audio">
                <div class="song">Song    :    {{object.title}}</div>
                <div class="art">Artist   :   {{object.artist}}</div>
                <div class="dur">Duration : {{object.duration}} min</div>
                <div class="gen">Genre : {{object.genre}}</div>
            </div>
            <div class="aud">
                
                <audio controls controlsList="nodownload noplaybackrate " autoplay>
                    <source src="/media/{{ object.audio }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            

          
    </div>

</body>
</html>